/* Variables */
:root {
  --bg-color: antiquewhite;
  --border-color: rgba(0, 0, 0, 0.25);
}

/*———————————————————————————————————————————————————————————————*/
/* Global */

* {
  font-family: serif, Georgia, "Times New Roman", Times;
}

body {
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
}

/*———————————————————————————————————————————————————————————————*/
/* Index */

#cr-sub-title, #navbar, #footer {
  text-align: center;
}

#cr-title {
  color: black;
}

#cr-sub-title {
  font-weight: normal;
}

#navbar h2 {
  display: inline-block;
}

#intro {
  text-align: justify;
}

#index-telegram-invite, #index-telegram-invite img {
  text-align: center;
}

#index-telegram-invite img {
  width: 1.2rem;
  display: inline;
  margin-bottom: -0.2rem;
}

#footer {
  color: rgba(0,0,0,0);
  font-size: x-small;
}

/*———————————————————————————————————————————————————————————————*/
/* beggar */

#beggar-page h2 {
  border-bottom: 0.06rem solid grey;
}

/*———————————————————————————————————————————————————————————————*/
/* bio */

#bio-page h2 {
  border-bottom: 0.06rem solid grey;
}

#bio-page .sub-title {
  text-align: center;
}

#exp-container, #edu-container {
  display: inline-block;
  max-width: 20rem;
  vertical-align: top;
}

#contact-info img {
  display: inline;
  height: 1.2rem;
}

#butterfly img {
  width: 4.56rem;
  height: 4.31rem;
}

#butterfly-container {
  height: 9rem; /* Prevents it from drawing above text. */
  text-align: center;
}

@keyframes translateButterfly {
  from {
    margin-top: -0.125rem;
  }
  to {
    margin-top: 0.5rem;
  }
}

@keyframes rotateButterfly {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#butterfly {
  animation: translateButterfly 0.42s, rotateButterfly 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-align: center;
  font-size: 0.625rem;
  text-decoration: none;
  color: black;
  display: inline-block;
}

/*———————————————————————————————————————————————————————————————*/
/* blog */

#blog h2 {
  border-bottom: 0.06rem solid grey;
}

#blog h3 {
  margin-bottom: 0;
}

#blog p {
  margin-top: 0;
}

#blog li {
  text-align: left;
}

#blog-telegram-invite img {
  width: 1.2rem;
  display: inline;
  margin-bottom: -0.2rem;
}

/*———————————————————————————————————————————————————————————————*/
/* quotes */

#quotes-page h2 {
  border-bottom: 0.06rem solid grey;
}

.quote-year {
  font-size: 0.75rem;
  display: inline;
}

#quotes-page a {
  text-decoration: none;
}

/*———————————————————————————————————————————————————————————————*/
/* Software */

#setup-page {
  text-align: left;
}

#setup-page li {
  text-align: left;
}

#setup-page div {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5rem;
  max-width: 29rem;
}

#setup-page h2 {
  border-bottom: 0.06rem solid grey;
}

/*———————————————————————————————————————————————————————————————*/
/* Portfolio */

#portfolio-page h2 {
  border-bottom: 0.06rem solid grey;
}

#portfolio-page img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.25rem;
}

#thesis-jan img {
  height: 20.5rem;
}

#thesis-vladie img {
  height: 19.5rem;
}

#portfolio-page iframe {
  margin-bottom: 0.25rem;
}

#amigara-screenshots img {
  height: 7.75rem;
}

#scifi-props img {
  height: 11.7rem;
}

#scifi-props img:last-child {
  width: 100%;
  height: auto;
}

#blarney-castle img:first-child {
  width: 100%;
  height: auto;
}

#blarney-castle img {
  height: 9.5rem;
}

#stevens-mod img:nth-child(1), #stevens-mod img:nth-child(2) {
  width: 100%;
  height: auto;
}

#stevens-mod img {
  height: 9rem;
}

#city-scene img:first-child {
  width: 100%;
  height: auto;
}

#city-scene img {
  height: 7.75rem;
}

#dm-vault img {
  height: 10.8rem;
}

#tractor-wip img:first-child {
  width: 40rem;
  height: auto;
}

#tractor-wip img {
  height: 11.6rem;
}

@media (pointer:none), (pointer:coarse) {
  @media screen and (orientation: portrait){
    #portfolio-page img, #portfolio-page iframe {
      width: 100%;
      height: auto;
    }
  }
}

/*———————————————————————————————————————————————————————————————*/
/* Comment section */

.mastodon-comment {
  position: relative;
  width: 100%;
  min-height: 3.75rem;
  margin-bottom: 0.5rem;
}

.comment-avatar {
  width: 4.313rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.comment-avatar img {
  width: 3.75rem;
  height: 3.75rem;
}

.comment-content {
  padding-left: 4.313rem;
}

.comment-author img {
  float: left;
  margin-right: 0.125rem;
}

.mastodon-comment-content p:first-of-type {
  margin-top: 0.5rem;
}

/*———————————————————————————————————————————————————————————————*/
/* Readability */

.readability {
  max-width: 42rem;
  margin: auto;
}

.sub-title {
  font-size: 1.313rem;
  font-weight: normal;
}

.asterisk {
  text-decoration: none;
}

.align-right {
  text-align: right;
}

.quote {
  text-align: left;
  border-left: 0.125rem dashed grey;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.readability img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.readability td {
  vertical-align: top;
}

.readability a {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.readability iframe {
  display: block;
}

@media (pointer:none), (pointer:coarse) {
  @media screen and (orientation: portrait){
     iframe {
      width: 100%;
      height: auto;
    }
  }
}

.readability video {
  max-width: 42rem;
  width: 100%;
}

.button-return {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.75rem;
}

.button-return a {
  text-decoration: none;
}

.comment {
  font-style: italic;
}

.end-crown {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

.hr-short {
  border: 0;
  width: 3rem;
  border-top: dashed 0.125rem rgba(0, 0, 0, 0.42);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hr-long {
  border: 0;
  border-bottom: dashed 0.125rem rgba(0, 0, 0, 0.21);
}

.source {
  font-size: small;
  font-family: monospace;
  vertical-align: text-top;
}

.source a {
  text-decoration: none
}

li ul li {
  list-style-type: lower-alpha;
}

.footnote {
  margin: 0;
}